<!DOCTYPE html>
<html lang="en" ng-app="articleApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cooking</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/my-article.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/article.js"></script>

    <style>
      .read {
        border-radius: 15px;
      }

      .edit {
        border-radius: 15px;
      }

      .delete {
        border-radius: 15px;
      }

      .modal-body p {
        color: black;
      }

      .form-label {
        color: black;
      }

      .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }
    </style>
  </head>

  <body ng-controller="ArticleController">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img class="logo" src="img/Logo.png" alt=""
        /></a>
        <button
          class="navbar-toggler shadow-none border-0"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="sidebar offcanvas offcanvas-start"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header text-white border-bottom">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
              <img class="logo" src="img/Logo.png" alt="" />
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body d-flex flex-column flex-lg-row p-lg-0">
            <ul
              class="navbar-nav align-items-center fs-5 justify-content-center flex-grow-1 pe-3"
            >
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="/src/views/welcome.html"
                  >Home</a
                >
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="/src/views/dashboard.html">Recipe</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="/src/views/my-article.html"
                  >Article</a
                >
              </li>
            </ul>

            <div
              class="d-flex flex-column justify-content-center align-items-center flex-lg-row"
            >
              <a
                class="text-white text-decoration-none px-3 py-1 rounded-4"
                href="#"
                style="background-color: #e3651d"
                >Login</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-12">
          <div class="container my-5">
            <div class="row align-items-center">
              <!-- Image Section -->
              <div class="col-md-6 image-container">
                <img class="cover" src="img/cover.jpg" alt="Delicious Food" />
              </div>
              <!-- Content Section -->
              <div class="col-md-6 content">
                <h1 class="lh-md caption">
                  A variety of the best recipes for every taste, ready to spice
                  up your menu today!
                </h1>
                <a href="#article" class="btn btn-get-started">Explore</a>
                <button class="btn btn-add-recipe" ng-click="openFormModal()">
                  Add Article
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="about-text" id="article">
        <div class="text text1">article</div>
        <div class="text text2">article</div>
        <div class="text text3">article</div>
        <div class="text text4">article</div>
        <div class="text text5">article</div>
      </div>
    </div>

    <br />
    <br />
    <br />

    <div
      class="container d-flex justify-content-between align-items-center mb-3"
    >
      <input
        type="text"
        class="form-control"
        ng-model="searchQuery"
        placeholder="Search article by name"
      />
    </div>

    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div
          class="col"
          ng-repeat="article in articles | filter:searchQuery"
          ng-if="articles.length > 0"
        >
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{article.title}}</h5>
              <p class="card-text">{{article.content | limitTo: 100}}...</p>
              <!-- Menampilkan sebagian konten -->
            </div>
            <div class="card-footer">
              <button
                class="btn btn-warning btn-sm"
                ng-click="openArticleModal(article)"
              >
                Edit
              </button>
              <button
                class="btn btn-danger btn-sm"
                ng-click="deleteArticle(article._id)"
              >
                Delete
              </button>
              <!-- Tombol Read More -->
              <button
                class="btn btn-primary btn-sm"
                ng-click="openReadMoreModal(article)"
              >
                Read More
              </button>
            </div>
          </div>
        </div>

        <div ng-if="articles.length == 0" class="text-center col-12">
          <p>No articles found. Add a new article!</p>
        </div>
      </div>
    </div>

    <!-- Modal untuk Read More -->
    <div
      class="modal fade"
      id="readMoreModal"
      tabindex="-1"
      aria-labelledby="readMoreModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              style="color: black"
              id="readMoreModalLabel"
            >
              {{article.title}}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h6 style="color: black">Author: {{article.author.username}}</h6>
            <p>{{article.content}}</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />

    <footer class="pb-3">
      <div class="text-center mt-3">
        <p class="mb-0">&copy; 2024 kochen. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- Modal for Article Form -->
    <div
      class="modal fade"
      id="articleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="articleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #e3651d">
          <div
            class="modal-header"
            style="background-color: #e3651d; color: white"
          >
            <h5 class="modal-title" id="articleModalLabel">
              {{isEdit ? "Edit Article" : "Add New Article"}}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              style="background-color: white"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label
                  for="articleTitle"
                  class="form-label"
                  style="color: #e3651d"
                  >Title</label
                >
                <input
                  type="text"
                  id="articleTitle"
                  class="form-control"
                  ng-model="article.title"
                  required
                  style="border: 1px solid #e3651d"
                />
              </div>
              <div class="mb-3">
                <label
                  for="articleContent"
                  class="form-label"
                  style="color: #e3651d"
                  >Content</label
                >
                <textarea
                  id="articleContent"
                  class="form-control"
                  ng-model="article.content"
                  rows="5"
                  required
                  style="border: 1px solid #e3651d"
                ></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer" style="border-top: 1px solid #e3651d">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              style="background-color: #e3651d; color: white"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              ng-click="saveArticle()"
              data-bs-dismiss="modal"
              style="background-color: #e3651d; color: white; border: none"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div
      class="modal fade"
      id="deleteConfirmationModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteConfirmationLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #e3651d">
          <div
            class="modal-header"
            style="background-color: #e3651d; color: white"
          >
            <h5 class="modal-title" id="deleteConfirmationLabel">
              Confirm Delete
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              style="background-color: white"
            ></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this article titled
            "<strong>{{article.title}}</strong>"?
          </div>
          <div class="modal-footer" style="border-top: 1px solid #e3651d">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              style="background-color: #e3651d; color: white"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-danger"
              ng-click="confirmDelete(article.id)"
              data-bs-dismiss="modal"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
