body {
  background-color: #191919;
  font-family: "Helvetica", sans-serif;
  color: white;
}

.logo {
  width: 100px;
  height: 50px;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(25, 25, 25, 0.15);
    backdrop-filter: blur(10px);
  }
}

.navbar {
  backdrop-filter: blur(10px);
}

.text-orange {
  color: #ff8c00 !important;
}

.bg-orange {
  background-color: #ff8c00 !important;
}

.btn-orange {
  background-color: #ff8c00;
  color: #fff;
  border: none;
}

.btn-orange:hover {
  background-color: #e07b00;
  color: #fff;
}
