body {
  background-color: #191919;
  font-family: "Helvetica", sans-serif;
  color: white;
}

.logo {
  width: 100px;
  height: 50px;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(25, 25, 25, 0.15);
    backdrop-filter: blur(10px);
  }
}

.navbar {
  backdrop-filter: blur(10px);
}

.text-orange {
  color: #ff8c00 !important;
}

.btn-orange {
  background-color: #ff8c00;
  color: #fff;
  border: none;
}

.btn-orange:hover {
  background-color: #e07b00;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #bd2130;
}

/* Profile Card Styles */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body h4 {
  color: #333;
}

textarea,
input {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea:focus,
input:focus {
  border-color: #ff8c00;
  outline: none;
}
